@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon.eot?7r9g64');
  src:  url('../icomoon.eot?7r9g64#iefix') format('embedded-opentype'),
    url('../icomoon.ttf?7r9g64') format('truetype'),
    url('../icomoon.woff?7r9g64') format('woff'),
    url('../icomoon.svg?7r9g64#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Recurso-82040:before {
  content: "\e900";
}
.icon-Recurso-92040:before {
  content: "\e901";
}
.icon-Recurso-102040:before {
  content: "\e902";
}
.icon-Recurso-112040:before {
  content: "\e903";
}
.icon-Recurso-122040:before {
  content: "\e904";
}
.icon-Recurso-132040:before {
  content: "\e905";
}
.icon-Recurso-142040:before {
  content: "\e906";
}
.icon-Recurso-152040:before {
  content: "\e907";
}
.icon-Recurso-162040:before {
  content: "\e908";
}
.icon-Recurso-172040:before {
  content: "\e909";
}
.icon-Recurso-182040:before {
  content: "\e90a";
}
.icon-Recurso-192040:before {
  content: "\e90b";
}
.icon-Recurso-202040:before {
  content: "\e90c";
}
.icon-Recurso-212040:before {
  content: "\e90d";
}
.icon-Recurso-222040:before {
  content: "\e90e";
}
.icon-Recurso-232040:before {
  content: "\e90f";
}
.icon-Recurso-242040:before {
  content: "\e910";
}
.icon-Recurso-12040 .path1:before {
  content: "\e911";
  color: rgb(29, 29, 27);
}
.icon-Recurso-12040 .path2:before {
  content: "\e912";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path3:before {
  content: "\e913";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path4:before {
  content: "\e914";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path5:before {
  content: "\e915";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path6:before {
  content: "\e916";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path7:before {
  content: "\e917";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path8:before {
  content: "\e918";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path9:before {
  content: "\e919";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path10:before {
  content: "\e91a";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path11:before {
  content: "\e91b";
  margin-left: -4.59765625em;
  color: rgb(236, 140, 0);
}
.icon-Recurso-12040 .path12:before {
  content: "\e91c";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-12040 .path13:before {
  content: "\e91d";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-12040 .path14:before {
  content: "\e91e";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-12040 .path15:before {
  content: "\e91f";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-12040 .path16:before {
  content: "\e920";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-12040 .path17:before {
  content: "\e921";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-12040 .path18:before {
  content: "\e922";
  margin-left: -4.59765625em;
  color: rgb(31, 15, 0);
}
.icon-Recurso-22040 .path1:before {
  content: "\e923";
  color: rgb(244, 242, 243);
}
.icon-Recurso-22040 .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(80, 72, 77);
}
.icon-Recurso-22040 .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(80, 72, 77);
}
.icon-Recurso-32040:before {
  content: "\e926";
}
.icon-Recurso-42040:before {
  content: "\e927";
}
.icon-Recurso-52040:before {
  content: "\e928";
}
.icon-Recurso-62040:before {
  content: "\e929";
}
.icon-Recurso-72040:before {
  content: "\e92a";
}
.icon-home:before {
  content: "\e92b";
}
.icon-home2:before {
  content: "\e92c";
}
.icon-home3:before {
  content: "\e92d";
}
.icon-office:before {
  content: "\e92e";
}
.icon-newspaper:before {
  content: "\e92f";
}
.icon-pencil:before {
  content: "\e930";
}
.icon-pencil2:before {
  content: "\e931";
}
.icon-image:before {
  content: "\e932";
}
.icon-images:before {
  content: "\e933";
}
.icon-play:before {
  content: "\e934";
}
.icon-film:before {
  content: "\e935";
}
.icon-bullhorn:before {
  content: "\e936";
}
.icon-connection:before {
  content: "\e937";
}
.icon-book:before {
  content: "\e938";
}
.icon-books:before {
  content: "\e939";
}
.icon-file-text:before {
  content: "\e93a";
}
.icon-profile:before {
  content: "\e93b";
}
.icon-file-empty:before {
  content: "\e93c";
}
.icon-files-empty:before {
  content: "\e93d";
}
.icon-file-zip:before {
  content: "\e93e";
}
.icon-stack:before {
  content: "\e93f";
}
.icon-folder:before {
  content: "\e940";
}
.icon-folder-open:before {
  content: "\e941";
}
.icon-folder-plus:before {
  content: "\e942";
}
.icon-folder-minus:before {
  content: "\e943";
}
.icon-folder-download:before {
  content: "\e944";
}
.icon-folder-upload:before {
  content: "\e945";
}
.icon-price-tag:before {
  content: "\e946";
}
.icon-price-tags:before {
  content: "\e947";
}
.icon-barcode:before {
  content: "\e948";
}
.icon-qrcode:before {
  content: "\e949";
}
.icon-ticket:before {
  content: "\e94a";
}
.icon-cart:before {
  content: "\e94b";
}
.icon-coin-dollar:before {
  content: "\e94c";
}
.icon-credit-card:before {
  content: "\e94d";
}
.icon-lifebuoy:before {
  content: "\e94e";
}
.icon-phone:before {
  content: "\e94f";
}
.icon-phone-hang-up:before {
  content: "\e950";
}
.icon-address-book:before {
  content: "\e951";
}
.icon-location:before {
  content: "\e952";
}
.icon-location2:before {
  content: "\e953";
}
.icon-compass:before {
  content: "\e954";
}
.icon-compass2:before {
  content: "\e955";
}
.icon-map:before {
  content: "\e956";
}
.icon-map2:before {
  content: "\e957";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-bug:before {
  content: "\e999";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-ungroup:before {
  content: "\ea59";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-flickr3:before {
  content: "\eaa5";
}
.icon-flickr4:before {
  content: "\eaa6";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-blogger2:before {
  content: "\eab8";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-yahoo:before {
  content: "\eabb";
}
.icon-yahoo2:before {
  content: "\eabc";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}

